<div class="box">
  <div class="box-header">
    <h3 class="box-title">Users</h3>
    <div class="input-group input-group-sm" style="width: 150px;">
      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div> <!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.firstname %> <%= user.lastname %></td>
            <td><%= user.email %></td>
            <td style='text-align:right;'>
              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, user %>&nbsp;
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) %>&nbsp;
             <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                user, 
                method: :delete, 
                data: {confirm_swal: "Are you sure you want to delete this user?"} 
              %>
           
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- /.box-body -->

</div> <!-- /.box -->
 
<%= link_to "Add New User", new_user_path %>
