<div class="box">
  <div class="box-header">
    <h3 class="box-title">Contacts</h3>
    <div class="input-group input-group-sm" style="width: 150px;">
      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div> <!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>User</th>
          <th>Text</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.client.name %></td>
            <td><%= contact.user.firstname contact.user.lastname %></td>
            <td><%= contact.text %></td>
            <td style='text-align:right;'>
              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, contact %>&nbsp;
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_contact_path(contact) %>&nbsp;
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, contact, method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- /.box-body -->

</div> <!-- /.box -->
 
<%= link_to "Add New Contact", new_contact_path %>
